/*  your css code here. If applicable */
.container{
	width: 1100px;
}
.imageContainer {
	height:300px;
}
table{
	border:1px solid gray;
	border-collapse:collapse;
}
td{
	border:1px solid gray;
}
#sun{
	width:200px;
}
#moon{
	width:600px;
}